{% extends "base.html" %}

{% block content %}
    <div class="row">   
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <h2>News</h2>
            {% for news in news_list %}
            <h3><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h3>  
            <p>{{ news.published.strftime('%Y-%m-%d') }} | Comments: {{ news.comments_count() }} </p>
            <hr /> 
            {% endfor %}
        </div>
        <div class="col-4">
            <h2>Weather</h2>
            {% if weather %}
                Weather is {{ weather.temp_C }}, feels like {{ weather.FeelsLikeC}}
            {% else %}
                Service is unavailable
        {% endif %}
        </div>
    </div>
{% endblock %}